@font-face {
  font-family: 'Montserrat';  /* Придумайте имя для CSS */
  src: url("fonts/Montserrat-VariableFont_wght.ttf")
}


body {
    font-family:'Montserrat', Helvetica, sans-serif;
    font-size: 13px;
    color: #515076;
    line-height: 18px;
    background-image: url("images/bg-dandelions.png");
    background-size: 790px auto;
    background-repeat: no-repeat;
    background-position-x: calc(100%/2 - 160px);
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    margin-top: 220px;
    margin-bottom: 110px;
    text-align: center;
}

.product_list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    gap: 45px;
    width: 1110px;
    flex-wrap: wrap;
}

.category {
    font-size: 12px;
    font-weight: 400;
    line-height: 24px;
    color:#A5A3B9;
    margin-top: 15px;
    margin-bottom: 5px;
}

.product-name {
    font-size: 20px;
    line-height: 27px;
    margin-top: 15px;
}

.price_flex {
    display:flex;
    justify-content: space-between;
    margin-top: 25px;
}

.price {
    font-size: 20px;
    line-height: 24px;
    font-weight: 700;
}

.price_sum {
    font-size: 20px;
    line-height: 24px;
}
.product_card_box {
    box-sizing: border-box;
    max-width: 340px;
    max-height: 573px;
    padding: 25px;
    background-color: #f7f7fa;
}
.ingredients {
    margin: 5px;
}

.compound_list {
    list-style: circle;
    padding: 0;
    margin-left: 10px;
}
